<ion-header>
  <ion-toolbar color="#1e2023">
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="user_div">
      <div class="first_div">
        <ion-label class="bienvenido">Bienvenido a te llevo app</ion-label>
      </div>
      <div class="user_back" [style.backgroundImage]="'url(assets/auto.jpg)'"></div>
    </div>
      <ion-card>
        <img src="assets/auto2.png" />
        <ion-card-header>
          <ion-card-subtitle>Duoc UC</ion-card-subtitle>
          <ion-card-title>San Joaquin</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Duoc UC es una Institución de Educación Superior, que se constituye como una Fundación privada sin fines de lucro y que por tanto, se encuentra sometida a la normativa y regulación propia de este tipo de instituciones.
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>